.bg-hero-image{
background:url("https://media.istockphoto.com/id/1393083776/photo/keep-mosquito-away.webp?a=1&b=1&s=612x612&w=0&k=20&c=SrVxiUn9vRvJTdcfia0hWoVJ2ok7bwtLKXZS-JDWbps=");
  background-repeat:no-repeat;
  background-size:cover
}